<button style="height:0; outline: none; position: absolute; top: -1000px; left: -1000px"></button>
<h6>כמה דברים שחשוב לדעת לגבי כיוון השלט:</h6>
<p>בחר את כיוון השלט ביחס למקום שבו תרצה לתלות אותו,
<br>
לדוגמא: אם תרצה שיראו את האותיות כשמגיעים מהצד הימני של שער הבית בחר שלט ימין (האותיות פונות לכיוון ההפכי מעמוד השלט)
<br>
<img src="./assets/1.jpg"  class="imgimg">
<br>
ואם מצד שמאל בחד שלט שמאל (האותיות פונות לכיוון עמוד השלט)
<br>
<img src="./assets/left.jpeg"  class="imgimg">
</p>
<br><p>
<button mat-raised-button class="btn btn--radius-2 btn--blue" (click)="dialogRef.close()">סגור</button>
</p>