p {
  text-align: center;
  font-size: 1.3rem;
  @media screen and (max-width: 500px) {
  font-size: 1rem;

  }

}
h6 {
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
  @media screen and (max-width: 500px) {
    font-size: 1rem;
  
    }
}
.imgimg {
  width: 200px;
  height: 200px;
  @media screen and (max-width: 500px) {
    width: 90%;
  }
}
