// img {
//     max-width:100% !important;
//     max-height:100% !important;
//     min-width:100% !important;
//     min-height:100% !important;
// }
// button {
//     margin-right: 0;
//   }
//   img {
//     margin: 0 !important;
//   }
html {
  scroll-behavior: smooth;
}
  img:hover {
    filter:brightness(1.2);
        -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
  }
  img {
     -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
     
  }