<div
  style="position: absolute;width:100%;height: 80vh !important; background:url('./assets/picture_5.jpg') no-repeat; ">

  <!-- <div id="carouselExampleControls" class="carousel slide mx-auto my-auto" data-interval="3000"  data-pause="false" style="width:50%;height: 50vh !important;" data-ride="carousel">
  <div class="carousel-inner" style="height: 80vh !important;overflow: hidden;">
    <div class="carousel-item active" style="height: auto !important;">
      <img src="./assets/picture_1.jpg" alt="First slide">
    </div>
    <div class="carousel-item" style="height: auto !important;">
      <img  src="./assets/picture_4.jfif" alt="Second slide">
    </div>
    <div class="carousel-item" style="height: auto !important;">
      <img  src="./assets/picture_3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
</div>
<div lightbox-group style="position: relative;">
  <p class="wrapper wrapper--w680  text-center">
    <img src="./assets/1.jpg" lightbox
      [fullImage]="{path: './assets/1.jpg' }" />
    <img src="./assets/2.jpg" lightbox
      [fullImage]="{path: './assets/2.jpg' }" />
    <img src="./assets/3.jpg" lightbox
      [fullImage]="{path: './assets/3.jpg' }" />
    <img src="./assets/4.jpg" lightbox
      [fullImage]="{path: './assets/4.jpg' }" />
      <img src="./assets/5.jpg" lightbox *ngIf="!phone"
      [fullImage]="{path: './assets/5.jpg' }" />
      <img src="./assets/6.jpg" lightbox *ngIf="!phone"
      [fullImage]="{path: './assets/6.jpg' }" />
  </p>
</div>



<div class="mt-4 page-wrapper bg-gra-02  p-b-100 font-poppins" >
  <div class="wrapper wrapper--w680">
    <div class="card card-4" #top>
      <div class="d-flex justify-content-around" style="position: absolute; top:5px; right: 5px;">
        <i class="fab fa-facebook-f px-1"></i>
        <i class="fab fa-instagram px-1"></i>
        <i class="fab fa-twitter px-1"></i>
        <i class="fab fa-linkedin-in px-1"></i>
      </div>
      <div class="card-body">
        <h1 class="title text-right"><a href="#buy"><b>הזמן</b>/<b>י עכשיו</b></a> אותיות חוץ לביתך</h1>

        <!-- <div class="row row-space">
                      <div class="col-6 ">
                          <div class="input-group">
                              <mat-form-field >
                                <input matInput placeholder="שם פרטי" >
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="col-6 d-flex justify-content-start">
                          <div class="input-group" >
                            <mat-form-field >
                              <input matInput placeholder="שם משפחה" >
                            </mat-form-field>
                          </div>
                      </div>
                  </div>
               
                  <div class="row row-space">
                    <div class="col-6" >
                        <div class="input-group">
                      <mat-form-field >
                        <input matInput placeholder="עיר" >
                      </mat-form-field>
                    </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                      <mat-form-field >
                        <input matInput placeholder="רחוב" >
                      </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                  <div class="col-6">
                      <div class="input-group">
                    <mat-form-field >
                      <input matInput placeholder="מספר בית" >
                    </mat-form-field>
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="input-group">
                    <mat-form-field >
                      <input matInput placeholder="מיקוד" >
                    </mat-form-field>
                  </div>
                  </div>
              </div>
                  <div class="row row-space">
                      <div class="col-6">
                          <div class="input-group">
                        <mat-form-field >
                          <input email matInput placeholder="אי-מייל" >
                        </mat-form-field>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="input-group">
                        <mat-form-field >
                          <input type="tel" matInput placeholder="טלפון" >
                        </mat-form-field>
                          </div>
                      </div>
                  </div> -->
<p class="text-right" style="font-size:1.2rem">
     <b> אנו מתמחים בשלטים לבתים פרטיים, שלטים מכל סוגי החומרים:</b><br>
        עץ, מתכת, פי וי סי, זכוכית, פרספקס ועוד.
        <br>
        שלט לבית משמש גם כמידע למבקר – שם המתגורר וכתובת, וגם כקבלת פנים לאורח!
    ועל כן עליו להיות מיוחד ובעל נראות גבוהה.
    <br>
        השלטים שאנו מייצרים הינם באיכות גבוהה, הן מבחינת החומרים והן מבחינת העיצוב והנראות, 
        גם ההתאמה האישית לצרכיי הלקוח וטעמו משחקים תפקיד חשוב.
        אנו נשתדל להתאים עבורכם את השלט שייצג אתכם ואת ביתכם
        בצורה הטובה והיעילה ביותר, תוך ייעוץ מניסיונינו העשיר על הטוב ביותר עבורכם.
        <br>
        שלט לבית מייצג אתכם ומהווה כרטיס ביקור שלכם ועל כן עליו להיות מושך, עיצובי, עכשווי ואיכותי.
        <br>
        האותיות מגיעות עם פינים אחוריים להרחקה וסקיצה להתקנה עצמית. ישנה אפשרות להתקנה שלנו
        שילוט אלומיניום תעופתי בעובי 4 מ”מ לבית פרטי מתאים לכל קיר חיצוני, טיח, גבס או לבנים, וגם לקירות פנימיים בלובי
        שילוט אותיות מתכת הינו יוקרתי מאוד ובולט מאוד. ניתן לקבלו בכל גופן, כל גודל וכל גוון.
      </p>
      <h3 class=" mt-3 text-right" id="buy">
        כל שנותר לכם הוא רק לבחור:
      </h3>
      <div class="row row-space">
        <div class="col-6" >
            <div class="input-group">
                    <mat-form-field>
                        <mat-label>בחר צבע</mat-label>
                        <mat-select #dcolor [(value)]="pay.product.color" (openedChange)="pay.makefile()">
                          <mat-option *ngFor="let color of colors" [value]="color.value">
                            {{color.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <mat-form-field >
                          <input #dtext  [value]="pay.text" (input)="pay.text = dtext.value; pay.makefile()" appFocus matInput placeholder="הכנס מלל (עד 10 תווים)" maxlength="10">
                        </mat-form-field>
                          </div>
                </div>
         
        </div>
        <div class="mt-3 text-center">
          <button class="btn btn--radius-2 btn--blue" [disabled]="disabled" (click)="payReady(); disabled = true; appendDiv()"> בצע הזמנה </button>
        </div>
        <p class="text-center">
        <i class="material-icons">
            lock
            </i> התשלום מאובטח באמצעות PayPal
          </p>
        <app-pay></app-pay>
        <h4 style="margin-top:10px; position: absolute; bottom: 5px; right: 0;left:0" class="text-center"> לפרטים: אביעד
          דייני 050-5555555 | אופיר 050-5555555</h4>
      </div>
    </div>
  </div>
</div>